<header class="nav-bar">

  <div id="headerWrapper">
      <div class="nav-content">
        <div>
          <span class="font-weight-bolder font-italic header-label pointer"
                (click)="navigateToDefaultUrl()"> STOCKS </span>
        </div>

        <div>
          <ul class="nav">
            <li class="header-nav">
              <a class="font-weight-bolder font-italic nav-label"
                 routerLink="/app-dashboard" routerLinkActive="active">
                  Dashboard
              </a>
              <a class="font-weight-bolder font-italic nav-label"
                 routerLink="/app-reports"  routerLinkActive="active"> Reports </a>
              <a class="font-weight-bolder font-italic nav-label"
                 routerLink="/app-contacts" routerLinkActive="active"> Contacts </a>
            </li>
          </ul>
        </div>

      </div>
  </div>

</header>

