<header class="nav-bar">

  <div id="headerWrapper">
      <div class="nav-content" *ngIf="this.userData && this.userData.id">
        <div>
          <span class="font-weight-bolder header-label pointer"
                (click)="navigateToDefaultPage()"> STOCKS </span>
        </div>

        <div>
          <ul class="nav">
            <li class="header-nav">
              <a *ngIf="userService.isUserLoggedIn()" class="font-weight-bolder nav-label"
                  routerLink="/app-dashboard" routerLinkActive="active">
                  Dashboard
              </a>
              <a *ngIf="userService.isUserLoggedIn()" class="font-weight-bolder nav-label"
                 routerLink="/app-reports"  routerLinkActive="active"> Reports </a>
              <a *ngIf="userService.isUserLoggedIn()" class="font-weight-bolder nav-label"
                 routerLink="/app-contacts" routerLinkActive="active"> Contacts </a>
            </li>
          </ul>
        </div>

        <div *ngIf="!userService.isUserLoggedIn()">
          <a class=" ml-2 pointer text-white"
             routerLink="/app-login-page">Sign In</a>
        </div>
        <div *ngIf="userService.isUserLoggedIn()">
          <span  class="text-white">Welcome {{userData.name}}</span>
          <a class=" ml-2 pointer text-white"
             routerLink="/app-logout">Sign Out</a>
        </div>
      </div>
  </div>

</header>

