<div class="container">
  <p-card class="container mb-5">
    <h4 class="text-center font-weight-bold header-color"> User Stocks</h4>

    <form [formGroup]="addStock" (ngSubmit)="onSubmitStock()">
      <div class="d-flex flex-row flex-wrap justify-content-around align-items-center m-auto">
        <div>
          <label>Ticker
            <input class="font-weight-bold ml-5" formControlName="symbol" type="text">
          </label>
        </div>

        <div>
          <label>Shares
            <input class="font-weight-bold ml-5" formControlName="shares" type="number">
          </label>
        </div>
      </div>

      <div class="d-flex justify-content-center">
        <button pButton type="button" label="Reset" class="mr-2 ui-button-rounded ui-button-secondary"
                (click)="resetStock()"></button>

        <button pButton type="button" label="Submit" class="ml-2 ui-button-rounded"
                (click)="onSubmitStock()" [disabled]="addStock.invalid" ></button>
      </div>

    </form>
  </p-card>

  <p-card class="container mb-5">
     <app-table-cards [stocks]="stocks" ></app-table-cards>
  </p-card>

</div>
