<div class="container">
  <div class="m-5">
    <button pButton type="button" label="Add Stocks" icon="pi pi-plus" class="ui-button-rounded float-right"
            (click)="addStockPopup()"></button>
  </div>
  <app-add-stocks (saved)="onAddStocks()"></app-add-stocks>
</div>

<div class="container">
  <div class="col-sm-4 mb-2">
    <app-display-cards [title]="'Portfolio'" [data]="total"></app-display-cards>
  </div>
  <div class="col-sm-12">
    <app-auto-play-cards [stocks]="stocks" [count]="stockCount"></app-auto-play-cards>
  </div>
  <p-card>
    <app-table-cards (deleted)="onDeleteStock()" [stocks]="stocks" ></app-table-cards>
  </p-card>
</div>
